venv/
.env/
.venv/
env/"token/" 
*.csv
artifacts/
mlruns/
mlruns.db
artifacts/
model/
mlflow.db
mlartifacts
__pycache__/
__pycache__/
*.py[cod]
.dvc/cache
.dvc/tmp
.dvc/config.local
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
!data/*.dvc
